@model IEnumerable<CmsShop.Models.ViewModels.Shop.ReviewVM>

@if (Model.Count() > 0)
{


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            @if (Request.IsAuthenticated)
            {
                <th></th>

            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Review)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateAt)
                </td>

                @if (Request.IsAuthenticated && (User.IsInRole("Admin") || item.UserName == User.Identity.Name))
                {
                    <td>
                        @Html.ActionLink("Usuń", "ReviewDelete", new { id = item.Id, idProduktu = item.ProductId }, new { @class = "delete" })

                    </td>

                }


            </tr>
        }


    </table>
}
else
{
    <h5>Brak komentarzy</h5>
}